{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <a href="/all_public"><< Back</a>
        </div>
    </div>
    <div class="row">
    <div class="col-3">
        <div class="card">
            <header class="card-header">{{paste_name}}</header>
            <div class="card-content">
                <div class="inner" id="file-list">
                    {% for dir in dirs %}
                    <span id="dir">{{dir}}/</span><br />
                    {% for file in dirs[dir] %}
                        &nbsp;<a id="file" file_id="{{file.id}}" href="#!">{{file.filename}}</a><br />
                    {% endfor %}                    
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="card">
            <header class="card-header">File info</header>
            <div class="card-content">
                <div class="inner">
                    <div style="display:none;" id="file-info">
                        <p id="link"><span class="index"></span> <span class="value"></span></p>
                        <p id="filesize"><span class="index">File size (kb):</span> <span class="value"></span></p>
                        <p id="fileext"><span class="index">File extension:</span> <span class="value"></span></p>
                        <p id="filehash"><span class="index">md5:</span> <span class="value"></span></p>
                        <p id="createtime"><span class="index">File created:</span> <span class="value"></span></p>
                        <p id="updatetime"><span class="index">Last update:</span> <span class="value"></span></p>
                        <p id="fileview"><span class="index">Views:</span> <span class="value"></span></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
  </div>  
</div>
{% endblock %}
