div#file-info span.index {
    font-weight: bold;
}
#dir {
    margin-top: 7px;
    display: inline-block;
}
table.highlighttable td.linenos {
    width: 0 !important;
}
table.highlighttable td.code {
    width: 100% !important;
}
div.highlight pre {
    overflow: hidden;
}
